<nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;
        <img src="assets/book-store-high-resolution-logo-transparent.png" alt="Logo" class="logo-img" style="height: 50px; width: 50px;">
        &nbsp; &nbsp;My Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle"  dropdownToggle>
              Our Products
            </a>
            <ul *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" href="/prodects">Our Books</a></li>
              <li><a class="dropdown-item" href="/new">What is New</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
          </li>
      </ul>
    </div>
  </nav>
<!-- <hr class="my-5"> -->
  
<!--Section: -->
<section class="backgroundimg">
<section id="sc-table">

    <!--Title-->
    <h2 class="section-heading">Novels</h2>

    <!--Description-->
    <p class="description"></p>

    <!--Section: Live preview-->
    <section class="mb-3">

        <div class="card">
            <div class="card-body">

                <!-- Shopping Cart table -->
                <div class="table-responsive">

                    <table class="table product-table custom-table">

                        <!-- Table head -->
                        <thead class="mdb-color lighten-5">
                            <tr>
                                <th></th>
                                <th class="font-weight-bold">
                                    <strong>Novels</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>Brife</strong>
                                </th>
                                <th></th>
                                <th class="font-weight-bold">
                                    <strong>Price</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>QTY</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>Amount</strong>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- /.Table head -->

                        <!-- Table body -->
                        <tbody>

                            <!-- First row -->
                            <tr>
                                <th scope="row">
                                    <img src="assets/51MVBAq-G-L._SY445_SX342_.jpg" alt="" class="img-fluid z-depth-0">
                                </th>
                                <td>
                                    <h5 class="mt-3">
                                        <strong>Sorceline</strong>
                                    </h5>
                                    <p class="text-muted">Novel</p>
                                </td>
                                <td>Magical candy that gives kids superpowers? Sweet! The possibility of evil overtaking the world? Not so tasty. And so begins The Candy Shop War, a trilogy from the #1 New York Times bestselling author of the Beyonders and Fablehaven series.
                                </td>
                                <td></td>
                                <td>$800</td>
                                <td>
                                    <input type="number" value="2" aria-label="Search" class="form-control" style="width: 100px">
                                </td>
                                <td class="font-weight-bold">
                                    <strong>$800</strong>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Remove item">X
                                    </button>
                                </td>
                            </tr>
                            <!-- /.First row -->

                            <!-- Second row -->
                            <tr>
                                <th scope="row">
                                    <img src="assets/81IAuD9xtwL._SY466_.jpg" alt="" class="img-fluid z-depth-0">
                                </th>
                                <td>
                                    <h5 class="mt-3">
                                        <strong>The Enchantress Returns</strong>
                                    </h5>
                                    <p class="text-muted">Novel</p>
                                </td>
                                <td>After decades of hiding, the evil Enchantress who cursed Sleeping Beauty is back with a vengeance.</td>
                                <td></td>
                                <td>$200</td>
                                <td>
                                    <input type="number" value="2" aria-label="Search" class="form-control" style="width: 100px">
                                </td>
                                <td class="font-weight-bold">
                                    <strong>$600</strong>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Remove item">X
                                    </button>
                                </td>
                            </tr>
                            <!-- /.Second row -->

                            <!-- Third row -->
                            <tr>
                                <th scope="row">
                                    <img src="assets/71SZYgpaBML._SY466_.jpg" alt="" class="img-fluid z-depth-0">
                                </th>
                                <td>
                                    <h5 class="mt-3">
                                        <strong>The Candy Shop War</strong>
                                    </h5>
                                    <p class="text-muted">Novel</p>
                                </td>
                                <td>Magical candy that gives kids superpowers? Sweet! The possibility of evil overtaking the world? Not so tasty. And so begins The Candy Shop War, a trilogy from the #1 New York Times bestselling author of the Beyonders and Fablehaven series.</td>
                                <td></td>
                                <td>$600</td>
                                <td>
                                    <input type="number" value="2" aria-label="Search" class="form-control" style="width: 100px">
                                </td>
                                <td class="font-weight-bold">
                                    <strong>$1200</strong>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Remove item">X
                                    </button>
                                </td>
                            </tr>
                            <!-- /.Third row -->

                            <!-- Fourth row -->
                            <tr>
                                <td colspan="3"></td>
                                <td>
                                    <h4 class="mt-2">
                                        <strong>Total</strong>
                                    </h4>
                                </td>
                                <td class="text-right">
                                    <h4 class="mt-2">
                                        <strong>$2600</strong>
                                    </h4>
                                </td>
                                <td colspan="3" class="text-right">
                                    <a href="/payment">
                                    <button type="button" class="btn btn-primary btn-rounded" >Complete purchase
                                        <i class="fas fa-angle-right right"></i>
                                    </button></a>
                                </td>
                            </tr>
                            <!-- Fourth row -->

                        </tbody>
                        <!-- /.Table body -->

                    </table>

                </div>
                <!-- /.Shopping Cart table -->

            </div>

        </div>

    </section>

</section>


<div class="footer">
    <div class="footer-content">
      <div class="centertext">
        <p>©2023 Book Store.<br>
        Questions? You may call us at (Mon-Sun 8AM-8PM) (632)8-8888-627<br>
        Terms of Use Privacy Policy</p>
      </div>
    </div>
  </div>