<nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;
        <img src="assets/book-store-high-resolution-logo-transparent.png" alt="Logo" class="logo-img" style="height: 50px; width: 50px;">
        &nbsp; &nbsp;My Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle"  dropdownToggle>
              Our Products
            </a>
            <ul *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" href="/prodects">Our Books</a></li>
              <li><a class="dropdown-item" href="/new">What is New</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
          </li>
      </ul>
    </div>
  </nav>
  <section class="backgroundimg">

<section class="mb-3">

    <div class="card">
        <div class="card-body">
            <div class="col-lg-6 mx-auto"> 
  
    <h3 class="mb-4 py-2 mt-lg-0 mt-4 text-center font-weight-bold text-uppercase">Payment</h3>

    <form action="">
      <!-- Medium input -->
      <div class="md-form mb-3"><label for="inputMDEx4">Card number</label>
        <input type="tel" id="inputMDEx4" class="form-control" autofocus value="1234 5678 9012 3456">
        
      </div>
      <!-- Medium input -->
      <div class="md-form mb-3"><label for="inputMDEx3">Name on card</label>
        <input type="text" id="inputMDEx3" class="form-control" autofocus value="Mawaddah">
        
      </div>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mb-4">

          <!-- Medium input -->
          <div class="md-form mb-3"> <label for="inputMDEx2">Valid thru</label>
            <input type="text" id="inputMDEx2" class="form-control" autofocus value="04 / 23">
           
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 mb-4">

          <!-- Medium input -->
          <div class="md-form"><label for="inputMDEx1">CCV number</label>
            <input type="password" id="inputMDEx1" class="form-control" autofocus value="345">
            
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    
      <button type="button" class="btn btn-primary btn-block mb-lg-0 mb-5">Buy now</button>
    <br>
    <br>
      <h5 class="font-weight-bold"><a class="blue-text back-link" href="/prodects"><i class="fas fa-angle-left mr-2"></i>Back to shopping</a></h5>

    </form>

  </div>


<section class="pb-4">
<section class="mobile-hidden">
<div class="bg-white border rounded-5">



</div>
</section></section>

</div>

</div>

</section>
</section>


<div class="footer">
    <div class="footer-content">
      <div class="centertext">
        <p>©2023 Book Store.<br>
        Questions? You may call us at (Mon-Sun 8AM-8PM) (632)8-8888-627<br>
        Terms of Use Privacy Policy</p>
      </div>
    </div>
  </div>