<nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;
      <img src="assets/book-store-high-resolution-logo-transparent.png" alt="Logo" class="logo-img" style="height: 50px; width: 50px;">
      &nbsp; &nbsp;My Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle>
              Our Products
            </a>
            <ul *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" href="/prodects">Our Books</a></li>
              <li><a class="dropdown-item" href="/new">What is New</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
          </li>
      </ul>
    </div>
  </nav>
<section class="backgroundimg">
    <div class="container mt-5">
      <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">Registration Form</div>
              <div class="card-body">
                <form (ngSubmit)="onSubmit()" class="p-3 shadow rounded bg-light">
                  <div class="form-group d-flex flex-column mb-3">
                    <label for="username" class="col-form-label col-3">Username</label>
                    <input type="text" id="username" class="form-control" [(ngModel)]="user.username" name="username" required>
                  </div>
                  <div class="form-group d-flex flex-column mb-3">
                    <label for="email" class="col-form-label col-2">Email</label>
                    <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email" required>
                  </div>
                  <div class="form-group d-flex flex-column mb-3">
                    <label for="password" class="col-form-label col-3">Password</label>
                    <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-sm btn-block mt-3" style="width: 75px; background-color:#804d29 ; border-color: rgb(243, 243, 243);">Register</button>
                </form>
             
              </div>
            </div>
          </div>
        </div>
      </div>
      

   
 
</section>

<div class="footer">
  <div class="footer-content">
    <div class="centertext">
      <p>©2023 Book Store.<br>
      Questions? You may call us at (Mon-Sun 8AM-8PM) (632)8-8888-627<br>
      Terms of Use Privacy Policy</p>
    </div>
  </div>
</div>